body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
}

.container {
  text-align: center;
  padding-top: 50px;
}

button {
  background: dodgerblue;
  color: white;
  border: none;
  padding: 12px 22px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #0c6cd4;
}
